@{
    ViewBag.Title = "О сервисе";
}
<h2 >@ViewBag.Title</h2>

<div >
    <br />
    <p>Цель данного сервиса - помочь абитуриентам выбрать ВУЗ, в котором им будет наиболее комфортно и интересно обучаться.</p>
    <p>С другой стороны представители ВУЗ-ов смогут просматривать списки рекомендуемых к поступлению абитуриентов.</p>
    <p>
        Схема работы проста - абитуриент регистрируется в системе и заполняет основную информацию о себе(балэ ЕГЭ, школьные оценки, увлечения, хобби, спортивные секции и пр.).
        На основании этих данных система вычисляет ориентированность пользователя по разным направлениям и выдает рекомендованный список вузов для поступления.
    </p>
    <p> На данный момент сервис находится на стадии разработки, но уже сейчас можно зарегистрироваться и получить первые рекомендации.</p>
    <p> Список вузов, секций, олимпиад  сейчас очень сильно ограничен. В дальнейшем планируется доработать выдачу рекомендаций и дополнить базу данных вузов для поступления(в основном за счет самих представителей факультетов, заинтересованных в этой системе).</p>

</div>

