@{
    ViewBag.Title = "О сервисе";
}
<h2>@ViewBag.Title</h2>
<h4></h4>

<div class="row">
    <p class="col-md-8">Цель данного сервиса - помочь абитуриентам выбрать ВУЗ, в котором им будет наиболее комфортно и интересно обучаться.</p>
    <p class="col-md-8">С другой стороны представители ВУЗ-ов смогут просматривать списки рекомендуемых к поступлению абитуриентов.</p>
    <p class="col-md-8">
        Схема работы проста - абитуриент регистрируется в системе и заполняет основную информацию о себе(балэ ЕГЭ, школьные оценки, увлечения, хобби, спортивные секции и пр.).
        На основании этих данных система вычисляет ориентированность пользователя по разным направлениям и выдает рекомендованный список вузов для поступления.
    </p>
    <p class="col-md-8"> На данный момент сервис находится на стадии разработки, но уже сейчас можно зарегистрироваться и получить первые рекомендации.</p>
    <p class="col-md-8"> Список вузов, секций, олимпиад  сейчас очень сильно ограничен. В дальнейшем планируется доработать выдачу рекомендаций и дополнить базу данных вузов для поступления(в основном за счет самих представителей факультетов, заинтересованных в этой системе).</p>

</div>

