@{
    ViewBag.Title = "О сервисе";
}
<h2>@ViewBag.Title</h2>
<h4></h4>

<div class="row">
    <p class="col-md-8">Данный сервис призван помочь абитуриентам и вузам найти друг друга.</p>
    <p class="col-md-8">
        Абитуриент заполняет наиболее полную информацию о себе: баллы по егэ, оценки школьного аттестата, участие в различных олимпиадах, хобби, секции и пр.
        На основании этих данных система проводит анализ и подсказывает абитуриенту куда поступать.
    </p>
</div>

