@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    Санкт-Петербург<br />
    Петродворец, 198504<br />
    <abbr title="Phone">Здесь будет телефон</abbr>
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:optimaleducation@gmail.com">optimaleducation@example.com</a><br />
</address>