@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Где учиться</h1>
    <p class="lead">Данный сервис поможет будущим студентам найти оптимальный вуз для поступления.</p>
    <p><a href="/home/about" class="btn btn-primary btn-large">Подробнее о сервисе &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы: Абитуриент</h2>
        <p>
            Зарегистрируйтесь, заполните основную информацию о себе и получайте рекомендации от системы!
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Регистрация &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Начало работы: Представитель факультета</h2>
        <p>
            Мы предоставляем возможность заполнять и обновлять данные о вашем факультете, а так же просматривать рекомендуемых к поступлению учеников!
            Чтобы получить аккаунт и начать работу - свяжитесь с нами:
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Данные для связи &raquo;</a></p>
    </div>
</div>