@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Optimal Education</h1>
    <p class="lead">Optimal Education will help entrants to find the best hight schools!</p>
    <p><a href="/home/about" class="btn btn-primary btn-large">How it work &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started: Student</h2>
        <p>
            Register, Log in and complete information about your. After that you can see optimal high school.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Registration &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started: High Shool Faculty representative</h2>
        <p>
            We will give you the opportunity to update the information on its faculty, fields of study, requirements for applicants, etc.
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact us &raquo;</a></p>
    </div>
</div>