@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Где учиться</h1>
    <p class="lead">Данный сервис поможет будущим студентам найти оптимальный вуз для поступления.</p>
    <p><a href="/home/about" class="btn btn-primary btn-large">Подробнее о сервисе &raquo;</a></p>
</div>

<h2>Начало работы</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Абитуриент</h3>
        <p>
            Зарегистрируйтесь, заполните основную информацию о себе и получайте рекомендации от системы!
        </p>
        <p><a class="btn btn-success" href="/Account/Register">Регистрация &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>Представитель факультета</h3>
        <p>
            Мы предоставляем возможность заполнять и обновлять данные о вашем факультете, а так же просматривать рекомендуемых к поступлению учеников!
            Чтобы получить аккаунт и начать работу - свяжитесь с нами:
        </p>
        <p><a class="btn btn-info" href="/Home/Contact">Данные для связи &raquo;</a></p>
    </div>
</div>